In [22]:
#셀레니움으로 웹 크롤링하기 selenium

from selenium import webdriver
url = 'http://www.opinet.co.kr/searRgSelect.do'
driver = webdriver.Chrome('C:\\users\\student\\chromedriver.exe')
driver.implicitly_wait(3)

In [23]:
driver.get(url)

In [20]:
driver.save_screenshot('001.png')
#현재 폴더에 저장 - jupyter notebook이 실행되는 'C:\\users\\student\\'

True

In [24]:
cheapy = driver.find_element_by_xpath('''//*[@id="quick_ul"]/li[2]/a''')
#main 사이트 접속 후 '싼 주유소 찾기' 서비스 클릭해서 접속
cheapy.click()

In [32]:
gu_list_raw = driver.find_element_by_xpath('''//*[@id="SIGUNGU_NM0"]''')
# F12 - 왼쪽 위의 'Select an element in the page to inspect it. Ctrl+Shift+C'
# 눌러 원하는 버튼의 html 주소 검색 - 해당 버튼 우클릭 - Copy - Copy XPath 해서 XPath 값 복사
gu_list = gu_list_raw.find_elements_by_tag_name('option')
# tag가 option인 항목들의 리스트 만들기

In [34]:
gu_names = [option.get_attribute('value') for option in gu_list]
# html을 보면 <option value="강남구" data-gis="">강남구</option> 으로 되어있음 - option value의 값을 다 가져와 리스트로 만듦
gu_names.remove('')
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [36]:
element = driver.find_element_by_id('SIGUNGU_NM0')
element.send_keys(gu_names[0])
#위 옵션 중 index 0의 강남구 선택

In [37]:
xpath = '''//*[@id="searRgSelect"]/span'''
element_sel_gu = driver.find_element_by_xpath(xpath).click()
# 조회 버튼 클릭

In [38]:
xpath = '''//*[@id="glopopd_excel"]/span'''
element_get_excel = driver.find_element_by_xpath(xpath).click()
# 엑셀 저장 버튼 클릭

In [39]:
'''
import time
from tqdm import notebook.tqdm

for gu in notebook.tqdm(gu_names):
    element = driver.find_element_by_id('SIGUNGU_NM0')
    element.send_keys(gu)
    
    time.sleep(2)
    #2초 쉬고
    
    xpath = '''//*[@id="searRgSelect"]/span'''
    element_sel_gu = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)
    
    xpath = '''//*[@id="glopopd_excel"]/span'''
    element_get_excel = driver.find_element_by_xpath(xpath).click()
    
    time.sleep(1)
'''
#서울의 모든 구 정보 받는 코드

C:\Users\student\anaconda3\lib\site-packages\ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(FloatProgress(value=0.0, max=25.0), HTML(value='')))

In [41]:
driver.close()
#selenium 창 닫음

In [46]:
import os
import pprint

path = "C:\\Users\\student\\Downloads\\"
file_list = os.listdir(path)
stations_files = [file for file in file_list if file.endswith(".xls")]

pprint.pprint(file_list_xls)

['지역_위치별(주유소) (1).xls',
 '지역_위치별(주유소) (10).xls',
 '지역_위치별(주유소) (11).xls',
 '지역_위치별(주유소) (12).xls',
 '지역_위치별(주유소) (13).xls',
 '지역_위치별(주유소) (14).xls',
 '지역_위치별(주유소) (15).xls',
 '지역_위치별(주유소) (16).xls',
 '지역_위치별(주유소) (17).xls',
 '지역_위치별(주유소) (18).xls',
 '지역_위치별(주유소) (19).xls',
 '지역_위치별(주유소) (2).xls',
 '지역_위치별(주유소) (20).xls',
 '지역_위치별(주유소) (21).xls',
 '지역_위치별(주유소) (22).xls',
 '지역_위치별(주유소) (23).xls',
 '지역_위치별(주유소) (24).xls',
 '지역_위치별(주유소) (25).xls',
 '지역_위치별(주유소) (3).xls',
 '지역_위치별(주유소) (4).xls',
 '지역_위치별(주유소) (5).xls',
 '지역_위치별(주유소) (6).xls',
 '지역_위치별(주유소) (7).xls',
 '지역_위치별(주유소) (8).xls',
 '지역_위치별(주유소) (9).xls']

In [ ]:
'''
def replace_n(soup_html):
    br_to_newlines = soup_html.find_all('br')
    for br_to_n in br_to_newlines:
        br_to_n.replace_with('\n')
    return soup_html
'''

In [48]:
import pandas as pd

tmp_raw = []

for file_name in stations_files:
    tmp = pd.read_excel(path + file_name, header = 2)
    tmp_raw.append(tmp)
    
station_raw = pd.concat(tmp_raw)

In [49]:
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502 entries, 0 to 14
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      502 non-null    object
 1   상호      502 non-null    object
 2   주소      502 non-null    object
 3   상표      502 non-null    object
 4   전화번호    502 non-null    object
 5   셀프여부    502 non-null    object
 6   고급휘발유   502 non-null    object
 7   휘발유     502 non-null    object
 8   경유      502 non-null    object
 9   실내등유    502 non-null    object
dtypes: object(10)
memory usage: 43.1+ KB

In [68]:
station_raw.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1375,1175,-
1,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1557,1383,1181,-
2,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1549,1383,1181,-
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),GS칼텍스,02-2226-4963,Y,-,1385,1195,-
4,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1572,1398,1196,1090

In [115]:
import numpy as np
straw_new = np.where(station_raw == '-', np.NaN, station_raw)

In [116]:
df_straw = pd.DataFrame(straw_new, columns=['지역', '상호', '주소', '상표', '전화번호', '셀프여부', '고급휘발유', '휘발유', '경유', '실내등유'])

In [133]:
df_straw.info()
#휘발유, 경유 가격 등도 object 타입이므로 numeric으로 전환해줌

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      502 non-null    object
 1   상호      502 non-null    object
 2   주소      502 non-null    object
 3   상표      502 non-null    object
 4   전화번호    502 non-null    object
 5   셀프여부    502 non-null    object
 6   고급휘발유   218 non-null    object
 7   휘발유     493 non-null    object
 8   경유      493 non-null    object
 9   실내등유    159 non-null    object
dtypes: object(10)
memory usage: 39.3+ KB

In [134]:
df_straw['휘발유_num'] = pd.to_numeric(df_straw['휘발유'])

In [135]:
df_straw.info()
#float 타입의 '휘발유_num' 열 생성 완료

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역       502 non-null    object
 1   상호       502 non-null    object
 2   주소       502 non-null    object
 3   상표       502 non-null    object
 4   전화번호     502 non-null    object
 5   셀프여부     502 non-null    object
 6   고급휘발유    218 non-null    object
 7   휘발유      493 non-null    object
 8   경유       493 non-null    object
 9   실내등유     159 non-null    object
 10  휘발유_num  493 non-null    float64
dtypes: float64(1), object(10)
memory usage: 43.3+ KB

In [145]:
df_straw.pivot_table(index = ['상호'], values = ['휘발유_num'], aggfunc = 'count')
#지역별 특정 주유소 데이터이므로 합쳐도 중복은 없는 것으로 보임

                    휘발유_num
상호
 현대오일뱅크㈜직영 구로셀프주유소        1
(유)동하석유 힐탑셀프주유소           1
(주)MS주유소                  1
(주)가재울뉴타운주유소              1
(주)강서오일                   1
...                     ...
홍능주유소                     1
화곡역주유소                    1
화곡현대주유소                   1
화랑대주유소                    1
화성주유소                     1

[497 rows x 1 columns]

In [144]:
df_straw_gasoline_count = df_straw.pivot_table(index = ['상표'], values = ['휘발유_num'], aggfunc = 'count')
df_straw_gasoline_count
#상표별 주유소 수

        휘발유_num
상표
GS칼텍스       135
S-OIL        77
SK에너지       141
알뜰(ex)        1
알뜰주유소        11
자가상표          2
현대오일뱅크      126

In [146]:
df_straw_gasoline_sum = df_straw.pivot_table(index = ['상표'], values = ['휘발유_num'], aggfunc = 'sum')
df_straw_gasoline_sum
#상표별 휘발유 값 합계

         휘발유_num
상표
GS칼텍스   197678.0
S-OIL   109526.0
SK에너지   210550.0
알뜰(ex)    1309.0
알뜰주유소    14943.0
자가상표      2796.0
현대오일뱅크  180051.0

In [147]:
df_straw_gasoline_mean = df_straw_gasoline_sum / df_straw_gasoline_count
df_straw_gasoline_mean
#상표별 평균 휘발유 가격

            휘발유_num
상표
GS칼텍스   1464.281481
S-OIL   1422.415584
SK에너지   1493.262411
알뜰(ex)  1309.000000
알뜰주유소   1358.454545
자가상표    1398.000000
현대오일뱅크  1428.976190

In [ ]:
#알뜰 주유소의 값이 젤 싼 걸로 보아 셀프 주유소인지가 값에 영향 끼칠 듯?